.homeFont {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeWrapper {
  background-image: url("/src/img/font1.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .container{
    width: 90vw;
    height: 90vh;
    background-color: rgba(17,25,40,0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.125);
    display: flex;
}

.chatList{
    flex: 1;
    overflow-y: auto; /* Activează scroll-ul vertical */
    scrollbar-width: thin; /* Pentru Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent; 
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar{
            flex:1;
            background-color: rgba(34, 49, 75, 0.5);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 5px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex:1
            }

            img{
                width: 30px;
                height: 30px;

            }
        }

        .add{
            width: 36px;
            height: 36px;
            background-color: rgba(34, 49, 75, 0.5);
            padding: 10 px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;   
        border-bottom: 1px solid #dddddd35;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                font-weight: 500;
            }

            p{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}

.chatList {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
  
  .chatItemsScroll {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }
  
  .chatItemsScroll::-webkit-scrollbar {
    width: 5px;
  }
  
  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  

.chatList::-webkit-scrollbar {
    width: 5px;
}

.chat-filter {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  
  .chat-filter button {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background-color: #4152a8;
    border-radius: 10px;
  }
  
  .chat-filter button.active {
    background-color: #4caf50;
    color: white;
  }
  
  .chat-filter button:hover {
    background-color: #989595;
  }

  .chat-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asigură-te că cercul nu se suprapune */
    width: 100%;
  }
  
  .chat-info span {
    margin-right: 10px; /* Spațiu între numele chatului și cerc */
  }

  .unread_badge {
    width: 28px;
    height: 28px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px; /* Asigurăm că cercul nu se suprapune cu numele */
  }